<h1>About Whatever App we decide to do wsakhfl;</h1>
<div class="w3-container">
  <h2>RANDOM THING</h2>
  <p>Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown
    gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard
    pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee prism biodiesel brooklyn. Blue bottle ennui tbh
    succulents.</p>
</div>

<div class="w3-container">
  <h2>OTHER THING</h2>
  <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore
    strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before. Many say
    exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the
    survival of the human species.</p>
</div>

<div class="w3-container">
  <h2>SOMETHING SOMETHING BACON</h2>
  <p>Bacon ipsum dolor amet short ribs brisket venison rump drumstick pig sausage prosciutto chicken spare ribs salami
    picanha doner. Kevin capicola sausage, buffalo bresaola venison turkey shoulder picanha ham pork tri-tip meatball
    meatloaf ribeye. Doner spare ribs andouille bacon sausage. Ground round jerky brisket pastrami shank.p>
</div>