<mat-card class="wrapper">
    <table class='tble'>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      <tr>
          <td>{{ users$.userName }}</td>
          <td>{{ users$.firstName }}</td>
          <td>{{ users$.lastName }}</td>
          <td>{{ users$.email }}</td>
      </tr>
    </table>
      <div>
        <button class='btns'>Update your account</button>
        <a routerLink="" [class.activated]="currentUrl == '/'"><button (click)="delete()" class='btns'>Delete your account</button>
        </a>
      </div>
</mat-card>