<div class="wrapper">
  <h1 class="yellow">Checkout These Buzzes Near You!</h1>
  <h3 class="white">Upvote The Ones You Agree With or Post Your Own!</h3>
  <h4 class="yellow">Featured Buzzes</h4>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>NEW BUZZ!</mat-card-title>
      <mat-card-subtitle>Buzz Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Location:
        </li>
        <li>
          Price:
        </li>
        <li>
          Fun Factor:
        </li>
        <li>
          Details:
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="asset">Comment on this Buzz!</button>
      <button mat-button color="asset">Upvote this Buzz!</button>
    </mat-card-actions>
  </mat-card>


</div>
<div>
  <h2 class="yellow">All Buzzes Near You!</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let buzz of buzzes$" [id]="buzz.id">
      <mat-expansion-panel-header>
        <mat-panel-title>{{buzz.title}}</mat-panel-title>
        <mat-panel-description>
          Price: {{buzz.price}}
        </mat-panel-description>
        <mat-panel-description>Rating: {{buzz.funFactor}}/5</mat-panel-description>
        <mat-panel-description>category: {{buzz.category}}</mat-panel-description>
        <mat-panel-description>Location: {{buzz.location}}</mat-panel-description>
        <mat-panel-description>Votes: {{buzz.upvotes}}/{{buzz.downvotes}}</mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{buzz.description}}</p>
      <mat-list>
        <mat-list-item *ngFor="let comment of buzz.comments">
          <h5>{{comment.commenter}}</h5>
          <p>{{comment.comment}} </p>
        </mat-list-item>
      </mat-list>
      <button mat-raised-button [disabled]="!loggedIn" (click)="openDialog(buzz.id)">Comment</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>