<div class="wrapper">
  <div class="example-container">
    <h4>Username</h4>
    <mat-form-field>
      <input matInput placeholder="enter your username...">
    </mat-form-field>
    <h4>Comment</h4>
    <mat-form-field>
      <input matInput placeholder="enter your comment...">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Upvote or Downvote this Buzz!">
        <mat-option value="true">upvote</mat-option>
        <mat-option value="false">downvote</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Rate this buzz!">
        <mat-option value="5">1/5</mat-option>
        <mat-option value="5">2/5</mat-option>
        <mat-option value="5">3/5</mat-option>
        <mat-option value="5">4/5</mat-option>
        <mat-option value="5">5/5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>