.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  background-color: antiquewhite;
}

/* Bordered form */
form {
  width: 98%;
  padding: 10px 10px 10px 10px;
}

.wrapper {
  background-image: url("../../assetsmain/matt-nelson-168468-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* Full-width inputs */
mat-form-field {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
}

input {
  color: white;
}

mat-checkbox {
  color: white;
}
