<mat-card>
  <div *ngFor="let buzz of buzzes$">
    <h1>{{buzz.title}}</h1>
    <h6>Posted by: {{buzz.user}} <span><br><sub>{{buzz.createdAt}}</sub></span></h6>
    <mat-divider></mat-divider>
    <table>
      <tr>
        <th>Location</th>
        <th>Price</th>
        <th>Fun Factor</th>
        <th>Upvotes</th>
      </tr>
      <tr>
        <td>{{buzz.location}}</td>
        <td>{{buzz.price}}</td>
        <td>{{buzz.funFactor}}</td>
        <td>{{buzz.upvotes}}</td>
      </tr>
    </table>
    <p>{{buzz.details}}</p>
  </div>
  <div>
    <h4>Comments:
      <span>
        <button mat-raised-button color="accent" (click)="openDialog(buzz.title, buzz.details)">Comment</button>
      </span>
    </h4>
  </div>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item *ngFor="let comment of comments">
      <p mat-line></p>
      <h5 mat-line>{{comment.user}}</h5>
      <p mat-line>{{comment.text}}</p>
      <p mat-line><small>at: {{comment.createdAt}}</small></p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>